<!DOCTYPE html>
<html>
  <head>
    <title>My Developer Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Skills Learned in GA SEI</h1>
    <nav>
      <a href="/">HOME</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/skills">MY SKILLS</a>
    </nav>
