<h1>Skills</h1>
<ul>
  <% skills.forEach(function(s) { %>
    <li>
      <a href="/skills/<%= s.id %>">
        <%= s.skill %>
      </a>
        - 
      <%= s.learned ? 'learned' : 'not learned' %>
    </li>
  <% }); %>
</ul>