body {
  padding: 50px;
  background: black;
}

a {
  color: yellowgreen;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  color: whitesmoke;
}

#skills-idx {
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
}

nav {
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
}

ul {
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  color: whitesmoke;
}

#skill-h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
}

#skill-id {
  font-family: 'Luckiest Guy', cursive;
  font-size: 25px;
  color: yellowgreen;
}

#skill-learned {
  font-family: 'Luckiest Guy', cursive;
  font-size: 25px;
  color: whitesmoke;
}
