body {
  padding: 50px;
  background: black;
}

a {
  color: yellowgreen;
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
}

input {
  border-color: yellowgreen;
  border-width: 5px;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

form {
  font-family: 'Luckiest Guy', cursive;
  font-size: 15px;
  color: whitesmoke;
}

button {
  background-color: yellowgreen;
  border-color: yellowgreen;
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  border-radius: 2px;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  color: whitesmoke;
}

#skills-idx {
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
}

ul {
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  color: whitesmoke;
}

#skill-h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
}

#skill-id {
  font-family: 'Luckiest Guy', cursive;
  font-size: 25px;
  color: yellowgreen;
}

#skill-learned {
  font-family: 'Luckiest Guy', cursive;
  font-size: 25px;
  color: whitesmoke;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
}


